body{
  .wrapper{
    .top-part {
      background: url("ap-ui.png");
      background-size: cover ;
      .page-navigation {
        width: 100%;
        margin-left: 0;
        height: 62px;
        background-color: transparent;
        border-bottom: 2px solid #ffffff;
        a {
          color: #ffffff;
          padding-left: 5%;
          cursor: pointer;
          text-decoration: none;
          font-size: 18px;
        }
        a:hover {
          color: #ffffff;
        }

        .page-navigation__services {
          color: #097e89;
        }
      }
      .page-title {
        background-size: cover;
        width: 100%;
        height: 50%;
        margin-left: 0;
        text-align: center;
        .page-title__about-us {
          margin-top: 15%;
          text-transform: uppercase;
          font-size: 42px;
          //margin: auto;
          color: #ffffff;
        }
        .page-title__more-info{
          color: #ffffff;
          margin-top: 4%;
        }
        .page-title__btn-hire-us{
          color: #ffffff;
          text-transform: uppercase;
          border: 3px solid #ffffff;
          background-color: transparent;
          height: 50px;
          font-size: 20px;
          margin-left: 45%;
          margin-top: 4%;
          margin-bottom:17%;
        }
      }
    }
    .title-information{
      width: 100%;
      .title-information__write-pen{
        padding-right: 0;
        img{
          width:100%;
        }
      }
      .title-information__info{
        padding-top: 5%;
        .a-little-about-us {
          text-transform: uppercase;
          font-size: 40px;
          //border-bottom: 2px solid #000000;
        }
        .basic-information{
          //display: inline-block;
          border-top: 2px solid #000000;
          padding-top:3%;
         margin-top: 3%;
        }
        .read-more{
          text-transform: uppercase;
          background-color: #05a0af;
          color: #ffffff;
          margin-top: 5%;
          font-size: 15px;
          width: 25%;
          height: 5%;
        }
      }
    }
    .our-services{
      width: 100%;
      height: 140px;
      background-color: #373737;
      margin-left: 0;
      .our-services__title{
        max-width: 50%;
        height: 46px;
        margin-left: 25% ;
        border-bottom: 2px solid #ffffff;
        text-align: center;
        span{
          text-transform: uppercase;
          font-size: 40px;
          background-color: #373737;
          color: #ffffff;
          padding: 0 10px;
        }
      }
    }
    .web-development{
      width: 100%;
      margin-left: 0;
      background-color: #3d3d3d;
      text-align: center;
      img{
        margin-top: 35%;
      }
      .web-development__content{
        .web-development__title{
          .web-title{
            text-transform: uppercase;
            font-size: 30px;
            color: #ffffff;
            margin-top: 10%;
          }
          .description{
            color: #ffffff;
            margin-top: 3%;
          }
          .more-details{
            background-color: #959595;
            text-transform: uppercase;
            border: none;
            width: 40%;
            height: 10%;
            margin-top: 10%;
            margin-bottom: 20%;
          }
        }
      }
      .web-development__content:hover{
        background-color: #097e89;
      }
    }
    .our-clients{
      width: 100%;
      height: 140px;
      background-color: #fefefe;
      .our-clients__title{
        max-width: 50%;
        height: 46px;
        margin-left: 25% ;
        border-bottom: 2px solid #656464;
        text-align: center;
        span{
          text-transform: uppercase;
          font-size: 40px;
          background-color: #fefefe;
          color: #656464;
          padding: 0 10px;
        }
      }
    }
    .logo-clients{
      width: 100%;
      padding-left: 10%;
      margin-top: 10%;
      margin-bottom: 10%;
      .bottom-row__be{
       margin-top: 7%;
       padding-left: 3%;
      }
      .bottom-row__canva{
        margin-top: 5%;
        padding-left: 4%;
      }
      .bottom-row__inst{
        margin-top: 6%;
        padding-left: 5%;
      }
      .bottom-row__cisco{
        margin-top: 7%;
      }
    }
    .questions-block{
      background-color: #097e89;
      margin-left: 0;
      width: 100%;
      .questions-block__title{
        color: #ffffff;
        padding-top: 2%;
        padding-left: 5%;
        font-size: 40px;
      }
      .questions-block__info{
        padding-top: 2%;
        padding-left: 5%;
        color: #ffffff;
      }
      .questions-block__callback-form{
        margin-top: 1%;
        margin-bottom: 5%;
        .user-name{
          background-color: #097e89;
          border: 1px solid #84bfc4;
          border-top: none;
          color: #aad2d6;
          height: 45px;
          padding-left: 2%;
        }
        input::-moz-placeholder {
          color: #aad2d6;
        }
        input::-webkit-input-placeholder {
          color: #aad2d6;
        }
        .user-number{
          background-color: #097e89;
          border: 1px solid #84bfc4;
          border-top: none;
          color: #aad2d6;
          height: 45px;
          padding-left: 2%;
          margin: -10px;
        }
        .user-submit{
          background-color: #ffffff;
          height: 45px;
          border: none;
          color: #097e89;
          font-weight: 900;
          margin-top: -8px;
        }
      }
    }
    .footer{
      width: 100%;
      margin-left: 0;
      padding-left: 4%;
      background-color: #474747;
      color: #d0d0d0;
      text-transform: uppercase;
      a{
        text-decoration: none;
        color: #d0d0d0;
      }
      a:hover {
        text-decoration: underline;
      }
      .paddings{
        margin-bottom: 4%;
        padding-bottom: 5%;
        span{
          font-size: 25px;
          text-decoration: underline;
        }
      }
      .footer__subscribe{
        text-align: right;
        padding-right: 5%;
        padding-top: 5%;
        .your-email{
          height: 50px;
          padding-left: 2%;
          background-color: #cccccc;
          border: none;
        }
        input::-moz-placeholder {
          color: #4f4e4e;
        }
        input::-webkit-input-placeholder {
          color: #4f4e4e;
        }
        .btn__subscribe{
          height: 51px;
          background-color: #0072bc;
          border: none;
          color: #ffffff;
          margin-left: -5px;
          margin-top: -1px;
        }
        img{
          margin-top: 3%;
          margin-right: 1%;
        }
      }
    }
  }
}